@use "../helper/var" as *;

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 3em;
    overflow: hidden;

    .title {
        h2 {
            @extend %titles;
        }
    }

    .review-swiper {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        height: 100%;
    
        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            text-align: center;
            background: #eeeeee;
            padding: 1.3em;
            margin-right: 2em;
            border-radius: 1.2em;
            filter: drop-shadow(1px 3px 7px black);
            width: 24.8541875em;
            height: 22.948125em;

            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
                img {
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                }

                h2 {
                    font-size: 1.8em;
                }
            }

            .reviewp {
                font-size: 1.2em;
                font-weight: 600;
            }

            .review-star-bkn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .star {
                    font-size: 1.5em;
                    color: $orange;
                }

                .site-logo {
                    display: flex;
                    width: 6em;
                    height: 4em;
                }
            }
        }
    }
}