
header {
    padding: 15px 0;
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    font-family: 'Gabriola'
    font-weight: bolder;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px silver;
    
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: white;
    font-family: 'Gabriola'
    font-weight: bolder;
}
footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Gabriola';
    font-weight: bolder;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: -1;
}

.content-wrapper {
    position: relative;
    z-index: 1;
}

/* Call Us and Book Now buttons */
.button {
    background-color: #429391;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.button:hover {
    background-color: #429398;
    transform: scale(1.08);
}

.button.book-now-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button.book-now-button:enabled {
    background-color: #429398;
    cursor: pointer;
}

.logo img {
    max-height: 60px;
}


.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 12px;
  font-size: 17px;
  gap: 8px;
  border-right: 2px solid #ccc;
  margin-right: 8px;
  padding-right: 12px;
  height: auto;
}

.navigation li:last-child {
  border-right: none; /* Remove the border from the last item */
}

.navigation a {
  display: block;
  padding: 10px;
  color: #333; /* Set your primary text color */
  text-decoration: none;
}

.navigation a:hover {
  background-color: #429390;
  transform: scale(1.08);   /* Set your secondary background color */
  color: #fff; /* Set your secondary text color */
  border-radius: 10px;
}

.header-info::before {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}

.header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.whatsapp-number{
    margin-right: 10px;
}
.whatsapp-number:hover {
  transform: scale(1.08);
}

.whatsapp-icon {
  width: 50px;
  height: 50px;
}

.language-dropdown {
  position: relative;
  display: inline-block;
  border-right: 2px solid #ccc;
  margin-right: 8px;
  padding-right: 12px;
}

.language-change-button {
  background-color: #429390;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  height: 50px;
  border: 2px #ccc;
}

.language-change-button:hover {
  transform: scale(1.08);
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.language-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.language-dropdown:hover .language-dropdown-content {
  display: block;
}
/* Main content */
main {
    margin: 15px;
    padding-top: 70px;
}
/* Section styles */
section {
    padding: 20px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}
/*.section-divider::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  left: 5%;
  background-color: #429390; Change to your desired color Adjust margin as needed
  z-index: -1;
  margin: 1px auto;
}
*/
section::before,
section::after {
    content: '';
    position: absolute;
    left: 5%; /* Center the line horizontally */
    width: 90%; /* Set the line width to 90% of the screen width */
    height: 1px; /* Set the line thickness */
    background-color: silver; /* Set the line color (grey) */
    top: 0;
    z-index: -1;
    border-radius: 10px;
}
/* Description section 
#description::before{
    background-image: url(image4.jpg);
    object-fit: fill;
    opacity: 0.75;
}*/

#description h1{
    font-size: 32px;
    color: black;
    text-align: flex-start;
}

#description h2 {
    font-size: 24px;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #429391;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#description ul {
    font-size: 20px;
    list-style-type: disc;
    padding-left: 20px;
    color: black;
    font-style: bolder;
    margin-bottom: 20px;
    width: 100%;
}

.list-and-images {
    display: flex;
    gap: 20px; /* Adjust the gap between the ul and the image container as needed */
}

.image-container {
    width: 80%;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 0 0 0 2px #429391, inset 0 0 0 2px silver, inset 0 0 0 2px white, inset 0 0 0 2px white;
    background-blend-mode: multiply;
}

.facilities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px; /* Adjust the gap between facility icons and captions as needed */
}

.facilities span {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the gap between the icon and caption as needed */
}

.facilities img {
  width: 24px; /* Adjust the icon size as needed */
  height: 24px;
  fill: green;
}

.facilities p {
  font-size: 14px; /* Adjust the caption font size as needed */
  margin: 0;
}


.call-us {
    /* Your current styles for the call-us button */
    align-self: flex-end;
    margin-top: 20px; /* Add a gap between the call-us button and the list-and-images container */
}

/*#gallery::before {
    background-image: url(image4.jpg);
}

#reviews::before {
    background-image: url(image4.jpg);
}

#location::before {
    background-color: beige;
}


#booking::before {
    background-image: url(image1.jpg);
}
*/

/* Gallery section */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.image-grid img {
    border: 2px solid #429391;
    border-radius: 10px;
}


img {
    width: 100%;
    height: 200px; /* Set the desired height */
    border-radius: 5px;
    object-fit: cover;
}

/* Reviews section */
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review {
  flex: 0 1 calc(33.333% - 20px);
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  width: 30%; /* Adjust the width of each review */
  margin: 1% 1%; /* Add space between the reviews */
  position: relative;
  overflow: hidden;
  cursor: default;
  border: 2px solid #429391;
}

.review:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8); /* Add shadow on hover */
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the reviews */
}

.review:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500%;
  height: 500%;
  background-image: radial-gradient(circle, #ffffff 20%, transparent 20%);
  transform: translate(0%, 0%) scale(0.5);
}

.review:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.review-content {
  position: relative;
  z-index: 1;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-author {
  display: flex;
  align-items: center;
}

.author-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.author-name {
  font-weight: bold;
}

.review-stars {
  color: #f1c40f;
  font-size: 18px;
}

.review-logo {
  position: relative;
  width: 70px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  left: 80%;
}


/* Captions Section */
.info-bubbles {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  background-image: white;
  cursor: default;
}

.bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #429391;
  border-radius: 50%;
  padding: 20px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.bubble img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

.bubble:hover{
    transform: scale(1.08);
}
/* Google Maps section */
#location {
    object-fit: fill;
    padding-right: 0px;
    padding-left: 0px ;
}
#location #map {
    height: 400px;
}

/* Availability section */
#availability {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; /* Add this to position the pseudo-element relative to the section */
    height: 500px;
}

#availabilityimage::before {
    content: "";
    background-image: url(images/AdobeStock_298424455.jpeg);
    opacity: 0.55;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; /* Position the pseudo-element behind the content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#availability h2 {
    font-size: 28px;
    color: black;
    font-style: thick;
    position: relative;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
    position: relative; /* Added to position the vertical separators */
}

.date-inputs {
    gap: 5px;
    margin-bottom: 20px;
    color: black;
    display: flex;
    border: 2px solid #ccc; /* Thin grey border */
    border-radius: 50px; /* Cylindrical shape */
    padding: 8px 16px; /* Some padding to make it look better */
    background-color: #429391;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


.date-inputs label {
    font-size: 16px;
    text-align: center;
}

.date-inputs input,#guests{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
    color: black;
    outline: none;
    text-align: center;
    transition: border-color 0.3s;
    max-width: 100px;
}

.date-inputs input:focus {
    border-color: #fd7e14;
}

.date-inputs .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    position: relative;
}


.date-inputs .input-wrapper:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 15px; /* Adjust the space from the top */
    bottom: 15px; /* Adjust the space from the bottom */
    right: -1px;
    width: 1px;
    background-color: #ccc; /* Thin grey line */
}


.guests-input {
  cursor: pointer;
  background-color: white;
  border: 2px solid #ccc; /* Update border to match check-in/check-out inputs */
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 14px;
  color: silver;
  outline: none;
  transition: border-color 0.3s;
  display: flex;
  align-items: center;
  width: auto;
}

.credentials-wrapper {
  align-items: center;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: inline-block;
  width: auto;
  height: 250px;
  position: absolute;
  left: 80%;
  top: 20%;
  bottom: 5px;
  z-index: 10;
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Exotic Font */
  background: rgba(255, 255, 255, 0.7); /* Add a semi-transparent white background */
    
  /* Hide until a date period is selected */
}

.credentials-input-wrapper input{
    background-color: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.credentials-wrapper p {
  font-size: 16px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
  text-align: center; /* Centered Text */
}

.credentials-wrapper input {
  font-size: 14px;
  gap: 5px;
  color: black;
  margin-top: 5px;
  display: flex; /* Align email and whatsapp inputs horizontally */
  margin-right: 5px; 
  margin-bottom: 20px; /* 20px distance between inputs and the button */
}

.credentials-wrapper input:focus {
  border-color: #fd7e14;
}

#book-now-button {
  disabled: true; /* Button is disabled until conditions are met */
}



/* Add these styles to your CSS */

.price-info, .error-message-container {
    position: relative; /* Position the elements fixed on the screen */
    top: 47px; /* Position at 50% from the top */
    left: 110%; /* Position at 50% from the left */
    transform: translate(-25%, -25%); /* Shift the elements back by half of their width and height to center them */
    background: rgba(255, 255, 255, 0.7); /* Add a semi-transparent white background */
    border-radius: 10px; /* Add some border radius */
    border-color: 2px solid #ccc;
    padding: 20px; /* Add some padding */
    width: 400px; /* Set a width */
    height: auto;
    max-height: 250px;
    max-width: 400px;
    font-size: 18px;
    box-sizing: border-box; /* Make sure padding and border are included in element's total width and height */
    text-align: center; /* Center the text */
    z-index: 11; /* Make sure the elements appear on top of other elements */
    display: none;
}

.price-info span {
    color: black; /* Adjust the color as needed */
}

.price-info {
    color: black;
    font-weight: bold;
    width: auto;
}

.error-message {
    color: red;
    font-weight: bold;
    width: auto;
    padding-top: 25px;
}

/*.error-message-container {
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-content {
  text-align: center;
}

.popup-content p {
  margin-bottom: 10px;
}
*/

$primary: black;
$secondary: #429391;
$white: #429391;
$gray: #429391;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  font-size: 1.3rem;
  text-align: center;
  color: #429391;
  padding: 2px 0;
  background: transparent;
  transition: border-color 0.0000001s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

/* The popup */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The popup content */


.popup-content {
  background-color: white;
  margin: 0; /* Updated */
  padding: 5px;
  padding-top: 15px;
  border: 2px solid #ccc;
  width: 30%; /* Updated */
  height: auto; /* Updated */
  position: absolute; /* Updated */
  top: 50%; /* Updated */
  left: 50%; /* Updated */
  transform: translate(-50%, -50%); /* Updated */
  overflow: auto;
  max-height: 90vh;
}
/* The close button */
.close {
  color: #aaa;
  float: right;
  position: relative;
  top: -15px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}